<%= form_for(dll) do |f| %>
  <% if dll.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dll.errors.count, "error") %> prohibited this dll from being saved:</h2>

      <ul>
      <% dll.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :spec_path %>
    <%= f.text_field :spec_path %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
